<div id="home">
    <!--
	  <div class="home-forms">
        <div class="login-form">
            <form id="login" action="">
                <input type="text" name="inputEmail" id="login_email" class="form-control" placeholder="Email">               
                	<input type="password" name="inputPassword" class="form-control pw-input table-cell" placeholder="Password">
                	<input class="btn btn-primary signin-btn" type="submit" value="Sign In">          	
                <div class="remember-forgot">
                    <span><a href="">Forgot password?</a></span>
                </div>
            </form>
	  	</div>
	</div>
    -->
    <div class="signin-form">  
        <a class="btn btn-primary btn-lg" href="/signin">Sign In</a>
    </div>
    <div class="signup-form">  
        <a class="btn btn-warning btn-lg" href="/signup">Sign Up</a>
    </div>
	<!--
	<div class="home-foot">
		<ul>
			<li><a href="">About</a></li>
			<li><a href="">Privacy</a></li>
			<li><a href="">Terms</a></li>
			<li><a href="">Contact us</a></li>
			<li>© 2013 yourChallenger</li>
		</ul>
  </div>
-->
</div>
    