<div id="session-new">
	<div id="signin">
		<div class="welcome">
			<h3>Sign in to yourChallenger</h3>
		</div>
      <%= form_tag({ controller: "sessions", action: "create"}, method: "post") do %>
  		<div class="form-group">
    		<label>Email address</label>
        <div class="table-cell inputbox">
          <%= email_field :session,:email, :class=>'form-control'%>
        </div>
  		</div>
  		<div class="form-group">
    		<label>Password</label>
        <div class="table-cell inputbox">
          <%= password_field :session,:password, :class=>'form-control' %>
        </div>
  		</div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="true">Remember me
        </label>
      </div>
      <%= submit_tag "Sign In",:class=>"btn btn-primary" %>
      <% end %>
      New user? <a href="/signup">Sign up now</a>
		</form>
	</div>
<div>
