<div class="setting-list">
    <a href="/settings/account" class="<%= isSelected( setting_item ,"account") %>" >Account</a>
    <a href="/settings/password" class="<%= isSelected( setting_item ,"password") %>" >Password</a>
    <a href="/settings/privacy" class="<%= isSelected( setting_item ,"privacy") %>" >Privacy</a>
    <a href="/settings/profile" class="<%= isSelected( setting_item ,"profile") %>" >Profile</a>
</div>