<div class="col-md-4 row-left">
  <%= render partial: "user_profile" %>
  <div id="dashboard">
    <ul>
      <li><a data-action="post" id="new-post"><span class="glyphicon glyphicon-picture"></span></a></li>
      <li><a data-action="message" id="new-message"><span class="glyphicon glyphicon-envelope"></span></a></li>
      <li><a href="/settings/account"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li><a href="/signout" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-off"></span></a></li>
    </ul>
  </div>
</div>


