<a href="/" id="logo">y</a>
<!--
<nav id="side-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/settings/profile">Edit Profile</a></li>
    <li><a href="/settings/account">Settings</a></li>
    <li><%= link_to 'Log out', logout_path, method: "delete" %></li>
  </ul>
</nav>
-->