
<div class="container users-index">
    <div class="timeline">
            <h3>Activity</h3>
            <div class="activity">
              <div class="post">
                    <div class="cell leftcell">
                      <div class="leftpart">
                        <%= image_tag("kevin.jpg", class: "avatar") %>
                        <span>2</span>
                        <span>hours ago</span>
                      </div>
                      <div class="vertical-line"></div>
                    </div>
                    <div class="cell rightcell">
                      <span class="username">KevinS</span> followed
                      <div class="post_content">
                          <div>
                            <%= image_tag("xu.jpg", class: "avatar") %> <span class="username">XuZ</span>
                          </div>
                      </div>
                    </div>
                </div>
              <div class="post">
                <div class="cell leftcell">
                  <div class="leftpart">
                    <%= image_tag("kevin.jpg", class: "avatar") %>
                    <span>2</span>
                    <span>hours ago</span>
                  </div>
                  <div class="vertical-line"></div>
                </div>
                <div class="cell rightcell">
                  <span class="username">KevinS</span> added 5 photos
                  <div class="post_content">
                    <div>
                      <%= image_tag("xu.jpg", class: "avatar") %>
                    </div>
                  </div>
                </div>
              </div>
             </div>
        </div>
</div>