// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'sign';

$form-width: 260px;

#session-new{
  width:$form-width;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:-150px;
  margin-left: - ($form-width / 2);
}