.users-index{
  width:600px;
  padding-top: 100px;
    .cell{
      display: table-cell;
    }
	.timeline{
      padding: 10px;
      padding-left: 20px;
      border-radius:8px;
      background-color: rgba(255,255,255,0.2);
      color:#000;

      .activity{

      }
      span.username{
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        color:#f00;
        padding-left: 5px;
      }
      .avatar{
        border-radius: 50%;
        width:60px;
        height:auto;
      }
      .leftcell{
        display: table-cell;
        position: relative;

        .vertical-line{
          position: absolute;
          left: 30px;
          top: 120px;
          bottom: 0;
          width: 2px;
          background: rgba(183,183,183,1);
        }

        .leftpart{
          height:120px;

          .avatar{
            margin-top: 10px;
            margin-bottom: 10px;
          }
          span{
            font-size: 13px;
            line-height: 15px;
            display: block;
            text-align: center;
            padding:0px;
            margin:0px;
          }
        }
      }
      .rightcell{
        padding-left: 10px;
        .post_content{
          padding: 20px;
        }
      }
    }
}
#users-show{
	width:700px;
	position: fixed;
  top: 50%;
  left: 50%;
  margin-top:-238px;
  margin-left:-350px;

	background-color:#fff;

    border-radius:10px;

	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
}

#users-new{
	width:700px;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-238px;
    margin-left:-350px;

	background-color:#fff;

    border-radius:10px;

	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;

	#signup{
		.welcome{
			margin-bottom:20px;
		}
		.join{
			width:450px;
		}
		.signin{
			line-height:20px;
		}
		.inputbox{
			width:320px;
		}
		.msg{
			color: rgb(128, 128, 128);
			font-size:13px;
			vertical-align:middle;
		}
		.right{
			color:green;
		}
		.wrong{
			color:red;
		}
		input.form-control{
			width:300px;
		}
		input.btn{
			width:300px;
		}
	}
}

#navbar{
  height:40px;
  background-color: #fff;
}
